<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/frontend/colorbox.css">
    <link rel="stylesheet" href="/frontend/leaflet.css">
    <link rel="stylesheet" href="/frontend/lme.css/frontend.view.css">
    <link rel="stylesheet" href="/frontend/lme.css/frontend.view.tabs.css">

    <script type="text/javascript" src="/frontend/jquery-3.2.1_min.js"></script>
    <script type="text/javascript" src="/frontend/jquery.tiny-draggable.js"></script>
    <script type="text/javascript" src="/frontend/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/frontend/leaflet.js"></script>
    <script type="text/javascript" src="/api/get/jslayout?map={*map_alias*}" id="the-map-outer"></script>

    <style type="text/css">
        html, body {
            height: 99%;
        }
        table.info-wrapper {
            border: 0;
            width: 100%;
        }
        table.info-wrapper td {
            vertical-align: top;
        }
        table.info-wrapper h3 {
            margin-top: -5px; /* @todo: hacked margin */
            margin-bottom: 0.4rem;
        }
        .tabs-container {
            height: 70%;
            max-height: 70%;
            overflow-y: none scroll;
        }
        #map {
            margin: 2em;
            border: 2px solid navy;
            /* margin-top: 9px; */ /* must be 9px with fieldset */
            margin-top: 0;
        }
        .map-regions {
            max-height: 90%;
            overflow-y: scroll;
            border-color: transparent;
        }
        .region-definition {
            list-style-type: square;
        }
    </style>
</head>
<body>

<div class="clear"></div>
<div tabindex="0" class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag" id="map"></div>

<script type="text/javascript" id="build-layout">
    $("#map").css('width', {*map_viewport_width*}).css('height', {*map_viewport_height*});
    $(".leaflet-container").css('background-color', theMap['viewport']['background_color']);

    var colorbox_width  =   theMap.colorbox.width      || 800;
    var colorbox_height =   theMap.colorbox.height     || 600;

    var polymap = Object.create(null);

    // build polygons
    Object.keys( theMap.regions ).forEach(function( key ){
        var path = theMap.regions[ key ]['path'];
        var polygon_color   =   theMap.regions[ key ]['color']      ||  theMap.defaults.polygon_color;
        var polygon_width   =   theMap.regions[ key ]['width']      ||  theMap.defaults.polygon_width;
        var polygon_opacity =   theMap.regions[ key ]['opacity']    ||  theMap.defaults.polygon_opacity;
        var polygon_fillcolor = theMap.regions[ key ]['fillColor']  ||  theMap.defaults.polygon_fillColor;
        var polygon_fillopacity = theMap.regions[ key ]['fillOpacity'] || theMap.defaults.polygon_fillOpacity;

        polymap[ key ] = L.polygon( path, {
            color: polygon_color,
            width: polygon_width,
            opacity: polygon_opacity,
            fillColor: polygon_fillcolor,
            fillOpacity: polygon_fillopacity
        });
    } );
</script>

<script type="text/javascript" id="create-map-and-layout">
    var map = L.map('map', {
        crs: L.CRS.Simple,
        minZoom: -3,
        maxZoom: 2,
        preferCanvas: true
    });
    var bounds = [
        [0, 0],
        [theMap['map']['height']-1 , theMap['map']['width']-1 ]
    ];

    var image = L.imageOverlay( theMap['map']['imagefile'], bounds).addTo(map);

    // draw polygons on map, bind on-click function
    Object.keys( polymap ).forEach(function(id_region){
        polymap[ id_region ].addTo(map).on('click', function(){
            var t = theMap['regions'][ id_region ]['title'] || id_region;
            // $("#selected_region").html(t);
            window.location.hash = 'view=[' + id_region + ']';

            $.colorbox({
                href: '/api/get/regiondata?map={*map_alias*}&id=' + id_region,
                width: colorbox_width,
                height: colorbox_height,
                onClosed: function(){
                    history.pushState('', document.title, window.location.pathname);
                }
            });

        });
    });

    map.fitBounds(bounds);
    map.setZoom( theMap['map']['zoom']);

    // Highlight filled regions
    var regions_with_content = [
        {*map_regions_with_info_jsarray*}
    ];

    regions_with_content.forEach(function(key){
        polymap[ key ].setStyle({fillColor: '#00ff00'});
    });

</script>

<script type="text/javascript" id="bind-actor-click-inside-colorbox">
    // обрабатываем клик по ссылке внутри попап окна
    // (на самом деле надо проверять, это ссылка на ту же карту или нет?)
    $(document).on('click', '#cboxLoadedContent a', function(){
        var href = $(this).attr('href');
        var wlh = window.location.href;

        if (href.indexOf( '#view' ) == 0) { // если href содержит ссылку на popup с информацией...
            var href_params = href.match(/view=\[(.*)\]/);
            if (href_params != null) {
                history.pushState('', document.title, window.location.pathname + href);

                $.colorbox({
                    href: '/api/get/regiondata?map={*map_alias*}&id=' + href_params[1],
                    width: colorbox_width,
                    height: colorbox_height,
                    onClosed: function(){
                        history.pushState('', document.title, window.location.pathname);
                    }
                });
            }
        } else {
            window.location.assign(href);
            window.location.reload(true);
        }

        return false;
    });

</script>

<div style="display:none">
    <div id="colorboxed-view" style="padding:10px; background:#fff;">
        <div id="colorboxed-view-content"></div>
    </div>
</div>
</body>
</html>